
body {
    font-family: "Comic Sans MS", cursive, sans-serif; 
   
    
}
button{
    font-family: "Comic Sans MS", cursive, sans-serif; 
}
#encabezado {
    background-image: url('/imagen/encab6.jpg'); /* Ruta de tu imagen */
    background-size: cover; /* Para que la imagen de fondo cubra todo el contenedor */
    background-position: center; /* Para centrar la imagen */
    background-attachment: fixed; /* Para que la imagen de fondo no se mueva al hacer scroll */
    /* Opacidad del fondo opacity: 0.6;*/
    padding: 100px 0;
    width: 100%;
    height: auto; /* Esto asegura que la altura se ajuste automáticamente proporcionalmente al ancho */
    max-width: 100%; /* Ajusta el espacio superior e inferior del encabezado */
}

.piano_notas {
    width: 100%;
    background: white;
    margin: 0 20px 20px 20px;
    padding: 15px 0 10px 40px;
    overflow: hidden;
    position: relative;
}

.piano_sub {
    position: relative;
    height: 120px;
    border-left: 6px solid black;
    margin: 60px 0 60px 0;
}

.lines .line {
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #666;
}

.cleff {
    position: absolute;
    left: 14px;
    height: 165%;
    top: -28%;
    z-index: 1;
    user-select: none;
    -webkit-user-drag: none;
}

.lines .line2 {
    top: 25%;
}

.lines .line3 {
    top: 50%;
}

.lines .line4 {
    top: 75%;
}

.lines .line5 {
    top: auto;
    bottom: 0;
}

.staff_notes {
    position: absolute;
    top: 0;
    left: 120px;
    right: 0;
    bottom: 0;
}

.escondido {
    display: none;
}

#barraProgreso {
    height: 10px;
    width: 100%;
    background-color: #ed222a;
    position: absolute;
    top: 0px;
}

#barraProgreso div {
    height: 10px;
    background-color: #2596be;
}

.completarTiempo {
    animation-name: completarbarra;
    animation-duration: var(--tiempo);
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes completarbarra {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.invisible {
    position: fixed;
    top: -100000px;
    left: -100000px;
}

#palabraActual {
    /* text-align: center; */
    margin-left: 220px;
    font-size: 100px;
}

.letraActual {
    color: #ed222a;
}

.desaparecer {
    font-size: 100px;
    position: absolute;
    animation-name: desaparecer;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

}

@keyframes desaparecer {
    0% {
        opacity: 1%;
    }
    
    100% {
        opacity: 0%;
    }
}

.invisible2 {
    opacity: 0%;
    display: none;
}

/* resultados */
#final {
    
    position: absolute;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
    width: 300px;
    border: 3px solid #2596be;
}

#final p {
    font-size: 1.2em;
    color: #082c4e;
    margin: 10px 0;
}

#final p span {
    font-weight: bold;
    color: #2596be;
}

#final button {
    background-color: #ed222a;
    color: #f7f7f7;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#final button:hover {
    background-color: #f2bc1b;
}

/* Optional: Add a smooth transition effect for showing the results */
.escondido {
    display: block; /* Change this as needed to show the element */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.show {
    display: block;
} 
.escondido.show {
    opacity: 1;
}
.piano-cuer {
    display: flex;
    align-items: center;
    justify-content: center;
    /*max-width: 1300px;*/
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    /*height: 85vh;*/
    position: relative;
}

.piano2 {
    width: 1300px;
    height: 600px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.piano_body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.piano_speaker {
    width: 300px;
    height: 150px;
    border-radius: 5px;
    background: radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
}

.piano_interface {
    width: 500px;
    height: 200px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 0 10px #111;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.piano_play_btn,
select {
    font-size: 16px;
}

.piano_keyboard {
    width: 100%;
    height: 540px;
    background-color: #000;
    display: flex;
}

.piano_key {
    width: 30px;
    height: 100%;
    padding: 0;
    margin: 0 1px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    text-align: center;
    border-radius: 0 0 8px 8px;
    flex-grow: 1;
}

.piano_key_black {
    background-color: #000;
    color: #fff;
    height: 60%;
    position: absolute;
    top: 0;
    left: -15px;
}

.empty_space {
    position: relative;
}

.piano_key_white {
    padding-top: 180px;
}

.piano_key_playing {
    background-color: #74b9ff;
}

.piano_controls {
    padding-top: 15px;
}

.piano_autoplay {
    padding-top: 35px;
}

.paino_heading {
    padding: 8px;
}
.titulo-carrucel {
    color: #082c4e;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}
/* Estilo para la ventana emergente */
.ventana-emergente {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    z-index: 9999;
    margin-top: 20px;
}

.ventana-emergente textarea {
    font-family: "Comic Sans MS", cursive, sans-serif; 
    width: 300px; 
    height: 95px; 
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;

} 
.ventana-emergente select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
.botones-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px; 
}

.botones-container button,
.botones-container select { 
    font-size: 16px;
    padding: 10px 20px;
    background-color: #2596be;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    flex-grow: 0; 
    min-width: 150px; 
}

.botones-container button:hover,
.botones-container select:hover {
    background-color: #f2bc1b;
}

.editor-canciones {
    text-align: center;
}

.editor-canciones h3 {
    text-align: center;
    margin: 10px 0;
    color: #082c4e;
}
.botones-editor {
    display: flex;
    justify-content: space-between;
}

.botones-editor button {
    font-size: 16px;
    width: 48%; 
    padding: 10px;
    background-color: #2596be;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.botones-editor button:hover {
    background-color: #f2bc1b;
}
